.toc-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 100%;
  text-align: right;
}
.toc {
  position: sticky;
  padding-top: 2em;
  padding-right: 0;
  top: 8em;
  list-style: none !important;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.toc li {
  padding-left: 1em;
  padding-right: .5em;
  width: fit-content;
  white-space: nowrap;
  font-size: 1rem;
  background-color: var(--bg-color);
  border-left: 1px solid var(--subtitle-color);
  border-top: 1px solid var(--subtitle-color);
  border-bottom: 1px solid var(--subtitle-color);
  box-shadow: 0 2px 0 var(--subtext-color);
  opacity: .2;
}
.toc li:hover {
  opacity: 1;
}
.toc li a:hover {
  color: var(--link-color);
}
.toc li + li {
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  .toc-container {
    left: 100%;
  }
  .toc {
    top: 6em;
    font-size: .8em;
  }
}