@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp_s-noto.min.css');

body {
  font-family: 'YakuHanJPs_Noto', 'Noto Sans', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo,ＭＳ\ Ｐゴシック, MS PGothic, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  hyphens: auto;
  line-break: strict;
  overflow-wrap: break-word;
  word-break: break-word;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 2em;
}

.content h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-family: 'Noto Serif TC';
  font-size: 1.125em;
  line-height: calc(0.25rem * 7);
  letter-spacing: 0.325em;
}

code {
  font-family: consolas, menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
}

blockquote p {
  font-size: 1em;
  line-height: calc(0.25rem * 6);
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

figure {
  font-size: 100%;
  font: inherit;
}

table {
  font-size: 0.875em;
}