---
const { text } = Astro.props;
---

<div class="rainbow-text">{text}</div>

<style>
.rainbow-text {
    animation: rainbow-text .17s infinite;
}

@keyframes rainbow-text {
  0% { color: #faf7fa; }
  12.5% { color: #09000b; }
  25% { color: #f4060e; }
  37.5% { color: #0ee80d; }
  50% { color: #f6f950; }
  62.5% { color: #2111dc; }
  75% { color: #f100f1; }
  87.5% { color: #0bf2f2; }
  100% { color: #faf7fa; }
}
</style>