---
const { text } = Astro.props;
---

<div class="rainbow-ani">{text}</div>

<style>
  .rainbow-ani {
    margin-top: 1em;
    padding: 2px;
    padding-left: 4px;
    width: fit-content;
    color: white;
    animation: rainbow-ani-bg 0.1s linear infinite;
  }
  @keyframes rainbow-ani-bg {
    0% {
      background: #f00;
    }
    20% {
      background: #0f0;
    }
    40% {
      background: #00f;
    }
    60% {
      background: #f0f;
    }
    80% {
      background: #ff0;
    }
    100% {
      background: #0ff;
    }
  }
</style>
