@import "fonts/fonts.css";
@import "scrollbar-thumb.css";
@import "highlight.css";
@import "toc.css";

*,
*:before,
*:after {
  /* for debug use outline: 1px solid black; */
  box-sizing: border-box;
}

:root {
  /* --bg-color: #150439;
  --outer-bg-color: #150439;
  --title-color: #f8ffeb;
  --subtitle-color: #f2ffda;
  --text-color: #ecffc9;
  --subtext-color: #ffff89;
  --link-color: #3fff00;
  --link-hover-color: #faff00;
  --strong-color: #9f1212; */

  /* 
  #cadc9f
  #0f380f
  #306230
  #8bac0f
  #9bbc0f
  #000000
  */

  --bg-color: #cadc9f;
  --outer-bg-color: #cadc9f;
  --title-color: #0f380f;
  --subtitle-color: #8bac0f;
  --text-color: #000000;
  --subtext-color: #306230;
  --link-color: #0f380f;
  --link-hover-color: #8bac0f;
  --strong-color: #9bbc0f;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--outer-bg-color);
  transition: background-color 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0; */
  /* padding: 0.5em 0 0.25em 0; */
  margin: 0.5em 0 0.25em 0;
  padding: 0;
}

h1 {
  color: var(--title-color);
}

h2 {
  position: relative;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 12px;
  color: var(--subtitle-color);
  text-shadow: var(--subtext-color) 2px 0px, var(--subtext-color) 1px 0px,
    var(--subtext-color) 2px 1px, var(--subtext-color) 1px 1px,
    var(--subtext-color) 2px 2px, var(--subtext-color) 1px 2px,
    var(--subtext-color) 0px 2px, var(--subtext-color) 3px 3px,
    var(--subtext-color) 2px 3px, var(--subtext-color) 1px 3px,
    var(--subtext-color) 0px 3px;
}

h2::after {
  margin-left: 12px;
  margin-bottom: 6px;
  width: 80%;
  border-bottom: 1px solid var(--title-color);

  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
}

h3 {
  position: relative;
  padding: 2px 5px 2px 8px;
  margin: 10px 5px 10px 3px;
  color: var(--text-color);
  border-left: 8px solid var(--subtitle-color);
  /* border-bottom: 1px solid var(--subtitle-color); */
}

h3::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 10px;
  left: 0;
  top: 0;
  border-left: 2px solid var(--subtext-color);
}

h1 + p,
h2 + p,
h3 + p {
  padding-top: 0.25em;
}

h2 a {
  color: var(--subtitle-color);
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
  margin: 0;
}

ul {
  padding-top: 0.25em;
}

ol {
  list-style: none;
  counter-reset: item;
}

li {
  padding-bottom: 0.25em;
}

li:last-child {
  padding-bottom: 0.25em;
}

li::marker {
  color: var(--title-color);
  font-weight: bold;
}

/* li + li {
  margin-top: 0.25em;
} */

/* li p {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
} */

li p {
  padding: 0;
  font-size: initial;
}

ol li {
  position: relative;
  counter-increment: item;
}
ol li:before {
  position: absolute;
  right: 100%;
  width: fit-content;
  content: counter(item) ". ";
  font-weight: bold;
  color: var(--title-color);
}

ul li ul {
  color: var(--subtext-color);
  list-style-type: square;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--link-hover-color);
}

a img {
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
  height: 1em;
}
a img + span {
  margin-left: 0.25em;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(hr) + p {
  padding-top: 1em;
}

p a {
  text-decoration: none;
  box-shadow: inset 0 -0.12em 0 var(--link-hover-color);
  -webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

p a:hover {
  box-shadow: inset 0 -1.5em 0 var(--link-hover-color);
  color: var(--bg-color);
}

strong {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--strong-color) 50%,
    var(--strong-color) 100%
  );
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  text-align: center;
}

hr::after {
  /* Hollow arrow */
  /* content: ""; */
  /* Solid arrow */
  /* content: ""; */
  /* Solid arrow with border */
  content: "";
  letter-spacing: 4em;
  padding-left: 4em;
}
@media screen and (max-width: 720px) {
  hr::after {
    letter-spacing: 2em;
    padding-left: 2em;
  }
}

br {
  content: "";
  display: block;
  margin: 0.140625em 0;
}

code {
  padding: 0em 0.2em;
  border-radius: 2px;
  color: #eee;
  background-color: #4e9a06;
  /* background-color: #3465a4; */
}

pre {
  margin: 1.2em 0 !important;
  border-radius: 8px !important;
  border: 4px solid var(--subtitle-color);
}

pre code {
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0 1rem;
  border-left: 4px solid var(--text-color);
  background: #eee;
}

blockquote p {
  padding-top: 6px;
  padding-bottom: 6px;
}

figure {
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

ruby {
  display: inline-flex;
  flex-direction: column-reverse;
}
rb,
rt {
  display: inline;
}
rt {
  user-select: none;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  padding: 0.4em 0.8em;
  word-break: keep-all;
  text-align: left;
}

tbody > tr {
  position: relative;
}
tbody > tr:after {
  content: "";
  position: absolute;
  width: 97.5%;
  height: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-top: 1px solid var(--subtext-color);
}

td {
  padding: 0.4em 0.8em;
}

details {
  padding: 1rem;
  margin: 1.5rem 0;
  border: 4px solid var(--subtext-color);
  border-radius: 12px;
}
details:last-child {
  margin-bottom: 0;
}
details summary {
  cursor: pointer;
  font-weight: bold;
}
details summary:focus {
  outline: none;
}

/* set iframe aspect ratio to 16:9 */
iframe {
  max-width: calc(720px - 40px);
  /* 16:9, 16/9 = 1.7778 */
  max-height: calc((720px - 40px) / 1.7778);
  aspect-ratio: 16 / 9;

  /* 100vw needs to be substracted with scrollbar width 
  which has been set to 15px in ::-webkit-scrollbar
  maybe just substract 20px from the content padding
  could solve this problue? */
  width: calc(100vw - 40px);
  height: calc((100vw - 40px) / 1.7778);
  aspect-ratio: 16 / 9;

  /* margin-left: -20px; */
}

/* keep main content max-width in 720px (16px*45em) */
.container {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}
